.menu {
  display: none;
  transition: all 1s;

}

.menuActive {
  animation: moveRight .5s ease-in-out;
  transition: all 1s;
}


/* Definindo os @keyframes */
@keyframes moveRight {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;

  }
}